body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-family: "Rubik", sans-serif;
  background: #f5d9d5;
}

a {
  color: black;
}

p {
  opacity: 50%;
  font-weight: 100;
  font-size: 1.25rem;
}

.content {
  margin-top: 2.5rem;
}

.motto p {
  margin: 1.5px 1.5px 2px 2px;
  padding: 1.5px 2.5px;
}

.blurb h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: #f498b8;
  font-size: 1.125rem;
  line-height: 2;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
  color: white;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
}

#mainNavbar .nav-Link {
  color: white;
}

#mainNavbar .nav-Link:hover {
  color: #ea1c2c;
}

#headingGroup span {
  color: #ea1c2c;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 2rem;
}

small {
  opacity: 50%;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 1rem;
  }
}
