body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-family: "Rubik", sans-serif;
  background: #f5d9d5;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
}

#mainNavbar .nav-Link {
  color: white;
}

#mainNavbar .nav-Link:hover {
  color: #ea1c2c;
}

#headingGroup span {
  color: #ea1c2c;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 1rem;
  }
}
